body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 5px 0 15px rgba(0,0,0,0.2), -5px 0 15px rgba(0,0,0,0.2);
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.main-header .container {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

.site-navigation li {
  width: 25%;
  text-align: center;
  padding-top: 15px; 
  padding-bottom: 15px;
  /*vertical-align: middle;*/
  margin: 0;
  box-sizing: border-box;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 14px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 16px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

.site-navigation a:active {
  color: #766357;
}

.welcome {
  min-height: 508px;
  background-color: #e1e3b0;
  background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-position: -1px 450px, center top;
  background-repeat: no-repeat, no-repeat;
}

.welcome img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

.info {
  text-align: center;
  width: 1200px;
  padding-top: 60px;
  padding-bottom: 52px;
}

.info h2 {
 font-size: 21px;
 margin: 0;
 margin-bottom: 27px; 
}

.info p {
  font-weight: 400;
  margin: 0;
}

.real-town h2,
.advices h2,
.reason-bridge h2,
.features h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding: 0; 
  margin: 0;
  margin-bottom: 25px;
}

.real-town p,
.advices p,
.reason-bridge p,
.features p {
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 0; 
  margin: 0;
  margin-bottom: 21px;
}

.real-town {
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
 
}

.town-life {
  width: 400px;
  color: #ffffff;
  padding-top: 46px;
  padding-bottom: 44px;
}

.image-town img {
  /*height: 100%;*/
}

.advices {
  display: flex;
  width: 1200px;
}

.advice-item {
  width: 400px;
  padding-bottom: 66px;
}

.advice-item h2 {
  position: relative; 
  padding-top: 158px; 
}

.advice-item h2::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0; 
  margin: auto;
}
.advice-item:first-child h2::before {
  width: 75px;
  height: 72px;
  top: 60px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
} 

.advice-item:nth-child(2) h2::before {
  width: 74px;
  height: 70px;
  top: 60px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.advice-item:last-child h2::before {
  width: 64px;
  height: 76px;
  top: 56px; 
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.reason-bridge {
  width: 1200px;
  display: flex;
  background-color: #81b3d2;
}

.bridge {
  width: 400px;
  color: #ffffff;
  padding-top: 44px;
  padding-bottom: 44px;
}

.image-bridge img {
  height: 100%;
}

.features {
  display: flex;
  width: 1200px;
}

.feature-item {
  width: 400px;
  background-color: #eeeeee;
  padding-top: 44px;
  padding-bottom: 44px;
}

main .hotels {
  position: relative;
  text-align: center;
  padding-top: 44px;
}

.hotels h2 {
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin:  0;
  margin-bottom: 24px;
}

.hotels p {
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 53px;
}

.hotels .hotels-link {
  display: block;
  width: 568px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  padding-top: 26px; 
  padding-bottom: 33px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hotels .hotels-link:hover {
  background-color: #604e43;
}

.hotels .hotels-link:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.hotels .hotels-form {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 568px;
  height: 395px;
  right: 0;
  left: 0;
  margin: auto;
  font: inherit;
  background-color: #ffffff;
  padding: 55px;
  box-sizing: border-box;
}

.hotels-form .hotel-date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 458px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px; 
}

.hotel-date label {
  display: block;
}

.hotel-date input[type="text"] {
  width: 346px;
  margin-left: 21px; 
  padding: 9px 22px 8px 14px;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
  
.hotel-date input:hover {
  background-color: #ebebeb;
}

.hotel-date input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.hotel-date .calendar {
  display: block;
  position: absolute;
  top: 9px;
  right: 8px;
  bottom: 8px;

  width: 21px;
  height: 22px;

  background-image: url("../img/calendar.png");
}

.hotel-date .calendar:hover {
  background-image: url("../img/calendar-2.png");
}

.hotel-date .calendar:focus {
  background-image: url("../img/calendar-3.png");
}

.hotels-form .hotel {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.hotel label {
  display: flex;
  align-items: center;
}

.hotel .adults {
  margin-left:  41px;
}

.hotel .children {
  margin-left:  27px;
}

.hotel button {
  display: block;
  width: 38px;
  height: 38px;
  color: #cacaca;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hotel button:hover {
  color: #000000;
}

.hotel button:focus {
	color: #81b3d2;
}

.hotel input {
  box-sizing: border-box;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hotels-form .button-search {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 17px; 
  padding-bottom: 22px;
  margin: 0;
  margin-top: 54px;
  box-sizing: border-box;
}

.hotels-form .button-search:hover {
  background-color: #669ec0;
}

.hotels-form .button-search:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.map img {
  height: 100%;
}

.main-footer {
  position: absolute;
  width: 1200px;
  display: flex;
  background-color: rgba(255,255,255,0.9);
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.main-footer-inner {
  width: 1200px;
  display: flex;
  background-color: rgba(255,255,255,0.9);
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.visit {
  width: 400px;
  padding: 0;
  margin: 0;
}

.visit a {
  display: block;
  font-size: 21px;
  color: #000000;	
  padding: 0;
  padding-top: 42px;
  padding-bottom: 53px;
  margin: 0 auto;
  text-align: center;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0 auto;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.footer-copyright {
  width: 400px;
  padding: 0;
  margin: 0;  
}

.footer-copyright b {
  display: block;
  float: left;
  font-weight: 400;
  padding: 0;
  margin: 46px 8px 55px 102px;
}

.footer-copyright .button {
  display: block;
  padding: 0;
  margin: 39px 101px 40px 8px;
}

.footer-copyright .button:hover {
  background: url("../img/logo-htmla-2.png") no-repeat 100% 0;

}
.button:hover .logo-htmla {
  background: transparent;
  visibility: hidden;
}

.footer-copyright .button:focus {
  background: url("../img/logo-htmla-3.png") no-repeat 100% 0;
}

.button:focus .logo-htmla {
  background: transparent;
  visibility: hidden;
}

.filter {
  display: flex;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 26px 72px 32px;
}

.filter fieldset {
  width: 256px;
  padding: 0;
  margin: 0;
  border: none;
}

.filter legend {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  font-weight: 400;
  padding-left: 40px;
  margin-top: 25px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background: url("../img/checkbox-off.png") no-repeat 0 0;  
}

.filter-input-checkbox:checked + label::before {
  background: url("../img/checkbox-on.png") no-repeat 0 0;
  width: 27px; 
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  left: -40px;
  background: url("../img/checkbox-off-2.png") no-repeat 0 0;  
}

.filter-input-checkbox:checked:disabled + label::before {
  background: url("../img/checkbox-on-2.png") no-repeat 0 0;
  width: 27px; 
}

.filter .filter-range {
  width: 318px;
  margin-left: auto;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;

  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.range-controls {
  position: relative;

  margin-bottom: 30px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-transparent {
  display: block;
  margin: 0;
  margin-left: 85px;
  margin-right: 96px;
  padding: 6px 33px 5px 35px;

  font-size: 14px;
  line-height: 21px;

  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.sorting {
  display: flex;
  align-items: baseline;
  padding: 30px 72px 33px;
  border-bottom: 1px solid #cacaca; 
}

.sorting h2 {
  font-size: 21px;
  padding: 0;
  margin: 0;
  margin-right: 49px;
}

.sorting h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding-top: 0;
  margin: 0;
  margin-right: 7px;
}

.sorting ul {
  display: flex;
  align-items: baseline; 
  list-style: none;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.sorting li {
  margin-left: 33px;
}

.sorting a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2; 
}

.sorting a:hover {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sorting a:focus {
  color: rgba(0,0,0,1)
  border: none;
}

.sorting a:active,
.sorting .active {
  color: #81b3d2;
  border: none;
}
.sorting span {
  display: block;
  width: 0;
  height: 0;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  padding: 0;
  margin: 0;
}

.sorting .up {
  border-bottom: 10px solid #cacaca; 
  margin-left: auto;
  margin-right: 12px;
}

.sorting .down,
.sorting .down:focus,
.sorting .down:active {
  border-top: 10px solid #81b3d2;
}
 
.sorting .up:focus,
.sorting .up:active {
 border-bottom: 10px solid #81b3d2; 
}


.sorting .up:hover {
  border-bottom: 10px solid #000000;
}

.sorting .down:hover {
  border-top: 10px solid #000000;
}

.variants {
  width: 1200px; 
}

.variants-hotels {
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.variants .variant-hotel {
  display: flex;
  line-height: 21px;
  padding: 30px 72px;
  margin: 0;
  border-bottom: 1px solid #cacaca;
}

.variant-hotel img {
  margin-right: 30px;
}

.variant-hotel span {
  display: block;
  font-weight: 400;
  width: 110px;
  padding: 0;
  margin: 0;
}

.variant-hotel .description {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
}

.description h2 {
  width: 258px;
  font-size: 21px;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: -3px;
  margin-bottom: 10px;
}

.description .name {
  color: #000000;
}
.description .name:hover {
  color: #81b3d2;
}

.description .name:focus {
  color: rgba(0,0,0,0.3);
}

.description span {
  text-align: left;
  color: #333333;
}

.description .price {
  width: 142px;
  margin-left: 6px;
}

.button-detail {
  display: block;
  width: 110px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 0; 
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 17px;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.button-booking {
  display: block;
  width: 142px;
  text-align: center;
  color: #ffffff;
  background-color: #766357;
  padding: 0; 
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 17px;
  margin-left: 6px;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.variant-hotel .rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 110px;
  margin-left: auto;
}

.rating .stars {
  height: 17px;
  background-color: #ffffff;
  background-image: url("../img/star.svg");
  background-size: 18px;
  background-repeat: space;
  padding: 0;
  margin: 0;
}

.rating .four-stars {
  width: 89px; 
  margin-left: auto;
}

.rating .three-stars {
   width: 65px; 
   margin-left: auto;
}

.rating .two-stars {
   width: 41px; 
   margin-left: auto;
}

.rating .rating-number {
  padding: 3px 13px 3px 14px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  color: #666666;
}


