body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.site-navigation {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
}

.container {
  position: relative;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

.site-navigation li {
  width: 25%;
  text-align: center;
  padding-top: 15px; 
  padding-bottom: 15px;
  margin: 0;
}

.site-navigation li:nth-child(1) {
  text-align: left;
  padding-left: 72px;
}

.site-navigation li:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
  padding-right: 10px;
}

.site-navigation li:nth-child(4) {
  text-align: right;
  padding-right: 72px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

site-navigation a:active {
  color: #766357;
}

.welcome {
  min-height: 528px;
  background-color: #e1e3b0;
  background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-position: -1px 470px, center top;
  background-repeat: no-repeat, no-repeat;
}

.welcome img {
  display: block;
  margin: 0 auto;
  padding-top: 76px;
}

.info {
  text-align: center;
  width: 1200px;
  padding-top: 35px;
  padding-bottom: 60px;
}

.info h2 {
 font-size: 21px;
 margin: 0;
 margin-bottom: 25px; 
}

.info p {
  font-weight: 400;
  margin: 0;
}

.real-town h2,
.advices h2,
.reason-bridge h2,
.features h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  padding: 0; 
  margin: 0;
  margin-bottom: 21px;
}

.real-town p,
.advices p,
.reason-bridge p,
.features p {
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 0; 
  margin: 0;
  margin-bottom: 21px;
}

.real-town {
  display: flex;
  width: 1200px;
  background-color: #81b3d2;
 
}

.town-life {
  width: 400px;
  color: #ffffff;
  padding-top: 44px;
  padding-bottom: 44px;
}

.image-town img {
  height: 100%;
}

.advices {
  display: flex;
  width: 1200px;
}

.advice-item {
  width: 400px;
  padding-bottom: 66px;
}

.advice-item h2 {
  position: relative; 
  padding-top: 158px; 
}

.advice-item h2::before {
  content: "";
  position: absolute;
  right: 0;
  left: 0; 
  margin: auto;
}
.advice-item:first-child h2::before {
  width: 75px;
  height: 72px;
  top: 60px;
  background: url("../img/icon-1.svg") no-repeat 0 0;
}

.advice-item:nth-child(2) h2::before {
  width: 74px;
  height: 70px;
  top: 60px;
  background: url("../img/icon-2.svg") no-repeat 0 0;
}

.advice-item:last-child h2::before {
  width: 64px;
  height: 76px;
  top: 56px; 
  background: url("../img/icon-3.svg") no-repeat 0 0;
}

.reason-bridge {
  width: 1200px;
  display: flex;
  background-color: #81b3d2;
}

.bridge {
  width: 400px;
  color: #ffffff;
  padding-top: 44px;
  padding-bottom: 44px;
}

.image-bridge img {
  height: 100%;
}

.features {
  display: flex;
  width: 1200px;
}

.feature-item {
  width: 400px;
  background-color: #eeeeee;
  padding-top: 44px;
  padding-bottom: 44px;
}

.hotels-link {
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

.hotels-link:hover {
  background-color: #604e43;
}

.hotels-link:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.hotels {
  position: relative;
  text-align: center;
  padding-top: 44px;
}

.hotels h2 {
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin:  0;
  margin-bottom: 24px;
}

.hotels p {
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 53px;
}

.hotels-link {
  display: block;
  width: 568px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
  padding-top: 26px; 
  padding-bottom: 33px;
  margin: 0 auto;
  box-sizing: border-box;
}

.hotels-link  a:hover {
  background-color: #604e43;
}

.hotels-link a:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}


.hotels-form {
  position: absolute;
  width: 568px;
  height: 395px;
  right: 0;
  left: 0;
  margin: auto;
  font: inherit;
  background-color: #ffffff;
  padding: 55px;
  box-sizing: border-box;
}

.hotels p {
  margin: 0;
  margin-bottom: 30px;
}

.hotel-date {
  position: relative;
  width: 458px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px; 
}

.hotel-date input {
  width: 346px;
  padding-top: 9px;
  padding-bottom: 8px; 
  padding-left: 12px;
  margin-left: 21px; 
  box-sizing: border-box;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.calendar {
  position: absolute;
  top: 9px;
  right: 8px;
  bottom: 8px;
}

.calendar:hover {
  background: url("../img/calendar-2.svg") no-repeat 0 0;
}

.calendar:focus {
  background: url("../img/calendar-3.svg") no-repeat 0 0;
}

.date {
  background-color:	#f2f2f2;
}

.date:hover {
  background-color: #ebebeb;
}

.date:focus {
  border: 2px solid #e5e5e5;
}

.hotel {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.hotel label {
  display: flex;
  line-height: middle;
}

.hotel .adults {
  margin-left:  41px;
}

.hotel .children {
  margin-left:  27px;
}

.hotel button {
  display: block;
  width: 38px;
  height: 38px;
  color: #cacaca;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hotel button:hover {
  color: #000000;
}

.hotel button:focus {
	color: #81b3d2;
}

.hotel input {
  display: block;
  box-sizing: border-box;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.button-search {
  display: block;
  width: 458px;
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  padding-top: 17px; 
  padding-bottom: 22px;
  margin: 0;
  margin-top: 54px;
  box-sizing: border-box;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.map {
  height: 100%;
  padding: 0;
  margin: 0;
}

.main-footer {
  position: absolute;
  width: 1200px;
  display: flex;
  background-color: rgba(255,255,255,0.9);
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
}

.visit {
  width: 400px;
  padding: 0;
  margin: 0;
}

.visit a {
  display: block;
  font-size: 21px;
  color: #000000;	
  padding: 0;
  padding-top: 42px;
  padding-bottom: 53px;
  margin: 0 auto;
  text-align: center;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 150px;
  padding: 0;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0 auto;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.footer-copyright {
  width: 400px;
  padding: 0;
  margin: 0;  
}

.footer-copyright b {
  display: block;
  float: left;
  font-weight: 400;
  padding: 0;
  margin: 46px 8px 55px 102px;
}

.footer-copyright .button {
  display: block;
  padding: 0;
  margin: 39px 101px 40px 8px;
}

.footer-copyright .button:hover {
  background: url("../img/logo-htmla-2.svg") no-repeat 0 0;
}

.footer-copyright .button:focus {
  background: url("../img/logo-htmla-3.svg") no-repeat 0 0;
}

.variants {
  list-style: none;
}

.variant-hotel .name {
  font-size: 21px;
  color: #000000;
}

.variant-hotel .name:hover {
  color: #81b3d2;
}

.variant-hotel .name:focus {
  color: rgba(0,0,0,0.3);
}

.button-detail {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.button-booking {
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.variant-hotel span {
  font-weight: 400;
}

.criterions {
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.criterions h3 {
  font-size: 16px;
}


.criterions li {
  font-weight: 400;
}

.criterions ul {
  list-style: none;
}