body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.main-navigation {
  color: #000000;
  background-color: #ffffff;
  display: flex;
}

.site-navigation {
  list-style: none;
  display: flex;
}

.main-header-logo {
  width: 239px;
  height: 56px;
}

.site-navigation li {
  width: 239px;
  height: 56px;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:focus {
  color: rgba(0,0,0,0.3);
}

site-navigation a:active {
  color: #766357;
}

.welcome {
  width: 1200px;
  min-height: 528px;
  background-color: #e1e3b0;
  background-image: url("../img/polygon.png"), url("../img/background-photo.jpg");
  background-position: bottom center, top center;
  background-repeat: no-repeat, no-repeat;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.info {
  text-align: center;
  width: 1200px;
  height: 216px;
  padding-top: 48px; 
}

.info h2 {
  font-size: 21px; 
}

.info p {
  font-weight: 400;
}

.real-town h2,
.features-one h2,
.reason-bridge h2,
.features-two h2 {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
}

.real-town p,
.features-one p,
.reason-bridge p,
.features-two p {
  line-height: 21px;
  font-weight: 400;
  text-align: center;
}

.real-town {
  display: flex;
  width: 1200px;
  margin: 0;
  padding: 0; 
}

.town-life {
  width: 280px;
  height: 146px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 46px 60px 64px;
  margin: 0;
}

.features-one {
  display: flex;
  width: 1200px;
  height: 330px;
  justify-content: between;
  margin: 0;
  padding: 0; 
}

.reason-bridge {
  width: 1200px;
  display: flex;
  margin: 0;
  padding: 0;
}

.bridge {
  width: 303px;
  height: 142px;
  color: #ffffff;
  background-color: #81b3d2;
  padding: 49px 49px 65px 48px;
  margin: 0;
}

.features-two {
  display: flex;
  width: 1200px;
  height: 256px;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.feature-item {
  width: 400px; 
}

.hotels-link {
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

.hotels-link:hover {
  background-color: #604e43;
}

.hotels-link:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.hotels {
  text-align: center;
}

.hotels h2 {
  font-size: 30px;
  line-height: 36px;
}

.hotels p {
  line-height: 24px;
  font-weight: 400;
}

.hotels-link a {
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #766357;
}

.hotels-link  a:hover {
  background-color: #604e43;
}

.hotels-link a:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.hotel input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}


.date {
  background-color:	#f2f2f2;
}

.date:hover {
  background-color: #ebebeb;
}

.date:focus {
  border: 2px solid #e5e5e5;
}

.hotel {
  color: #cacaca;
}

.hotel button:hover {
  color: #000000;
}

.hotel button:focus {
	color: #81b3d2;
}

.button-search {
  text-align: center;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.main-footer {
  display: flex;
}
.visit {
  width: 136px;
  margin-left: 130px;
  margin-right: 255px;
}

.visit a {
  font-size: 21px;
  color: #000000;	
}

.footer-social {
  list-style: none;
  display: flex;
  width: 150px;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover {
  background-color: #669ec0;
}

.social-button:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.footer-copyright {
  font-weight: 400;
  width: 200px;
  margin-left: auto;
  margin-right: 100px;
}

.variants {
  list-style: none;
}

.variant-hotel .name {
  font-size: 21px;
  color: #000000;
}

.variant-hotel .name:hover {
  color: #81b3d2;
}

.variant-hotel .name:focus {
  color: rgba(0,0,0,0.3);
}

.button-detail {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.button-detail:hover {
  background-color: #669ec0;
}

.button-detail:focus {
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.button-booking {
  text-align: center;
  color: #ffffff;
  background-color: #766357;
}

.button-booking:hover {
  background-color: #604e43;
}

.button-booking:focus {
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.variant-hotel span {
  font-weight: 400;
}

.criterions {
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.criterions h3 {
  font-size: 16px;
}


.criterions li {
  font-weight: 400;
}

.criterions ul {
  list-style: none;
}